{% extends "base.html" %}

{% block title %}
Kaksha - Enrolled
{% endblock %}
{% load crispy_forms_tags %}

<div class="alert alert-info" role="alert" style="width:80%;margin-top:22px;margin-left:auto;margin-right:auto;padding:22px;border-radius:10px;">
  <h4 class="alert-heading" style="font-family: 'Abril Fatface', cursive;">Enrolled Sucessfully!!</h4>
  <p style="font-family: 'Courier Prime', monospace;">You will get a call from us in less than 30 minutes and will further explain the course and will start your course. </p>
  <hr>
  <p class="mb-0" style="font-family: 'Courier Prime', monospace;">Keep Learning Keep Implementing!!</p>

</div>




{% endblock %}